<!-- CHART -->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
       <div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
	google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Mon', 20, 28, 38, 45],
      ['Tue', 31, 38, 55, 66],
      ['Wed', 50, 55, 77, 80],
      ['Thu', 77, 77, 66, 50],
      ['Fri', 68, 66, 22, 15],
      ['Thursday', 50, 35, 25, 0],
      // Treat first row as data as well.
    ], true);

    var options = {
  	  legend: 'none',
      bar: { groupWidth: '100%' }, // Remove space between bars.
      candlestick: {
        fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
        risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
      }
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>









<container class="refresh">

<% if flash[:notice]%>
    <div class="Message Message--green" id="js-timer">
    	<div class="Message-icon">
    		<i class="fa fa-check"></i>
    	</div>
    	<div class="Message-body">
    		<p><%= flash[:notice] %></p>
    	</div>
    	<button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  	</div>
<% end %>

<!-- BUY -->
<div class="col-md-6">
  <h4><b>BUY</b></h4>
  <h5>You have: <a class="js-balance">$<%=@company.balance%></a></h5>
	<form action="/market-buy" method="post">
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		<div class="row">
	  	<div class="col-md-4 col-xs-12">
			  <div class="form-group">
			    <label>Amount to Buy</label>	
      			<input id="js-buy-amount-input" name="amount" type="number" min="1" step="1" max="999999" class="form-control js-buy-input" placeholder="Amount">
      			<input class="js-buy-input" type="hidden" name="company_balance" value="<%=@company.balance%>">
			  </div>
			</div>
			<div class="col-md-4 col-xs-12">
			  <div class="form-group">
			    <label>Price per Unit</label>
			    <div class="input-group">
			     <div class="input-group-addon">$</div>
      			<input id="js-buy-price-input" name="price" type="number" min="0" class="form-control js-buy-input" placeholder="Price per Unit">
    			</div>
			  </div>
		  </div>
		  <div class="col-md-4 col-xs-12">

		  <input type="hidden" name="company_id" value="<%=@company.id%>">
	  	<input type="hidden" name="market_id" value="<%=@item.id%>">

		  	<button id="submit-buy-order" class="btn btn-primary" style="margin-top: 22px; float: right">Place Order</button>
		  </div>
	  </div>
	</form>

<hr>

<container id="js-buy-refresh">
	<%=render 'buy_orders.html.erb'%>
</container>


  </div>



<!-- SELL -->


  <div class="col-md-6">
  <h4><b>SELL</b></h4>

<%if @stock_amount==0%>
	<br><h5><b>You do not have anything to sell in this Market</b></h5><br>
<%else%>	
	<h5>You have: <u class="js-stock_amount"><a><%=@stock_amount.to_i%></a></u> <%=@item.name%></h5>
	<form action="/market-sell" method="post">
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		<div class="row">
	  	<div class="col-md-4 col-xs-12">
			  <div class="form-group">
			    <label>Amount to Sell</label>
      		<input id="js-sell-amount-input" name="amount" type="number" min="1" step="1" max="<%=@stock_amount%>" class="form-control" placeholder="Amount">
			  </div>
			</div>
			<div class="col-md-4 col-xs-12">
			  <div class="form-group">
			    <label>Price per Unit</label>
			    <div class="input-group">
			     <div class="input-group-addon">$</div>
      			<input id="js-sell-price-input" name="price" min="0" type="number" class="form-control" placeholder="Price per Unit">
    			</div>
			  </div>
		  </div>
		  <div class="col-md-4 col-xs-12">

		  <input type="hidden" name="company_id" value="<%=@company.id%>">
	  	<input type="hidden" name="market_id" value="<%=@item.id%>">

		  	<button id="submit-sell-order" class="btn btn-primary" style="margin-top: 22px; float: right">Place Order</button>
		  </div>
	  </div>
	</form>
<%end%>
<hr>

<container id="js-sell-refresh">
	<%=render 'sell_orders.html.erb'%>
</container> <!-- Sell refresh container -->

  </div>
</div>

<%= javascript_include_tag('bootstrap-sortable.js') %>
<%= javascript_include_tag('bootstrap-select.min.js') %>

<!-- Makes so that when you click the price or amount in table it updates the input value -->
<%= javascript_tag do %>
	$(".js-buy-price").on("click", function(){
    	var buy_price = $(this).text();
    	$("#js-sell-price-input").val(buy_price);
    	$("#js-buy-price-input").val(buy_price);
	});

	$(".js-buy-amount").on("click", function(){
    	var buy_amount = $(this).text();
    	$("#js-sell-amount-input").val(buy_amount);
	});

	$(".js-sell-price").on("click", function(){
    	var sell_price = $(this).text();
    	$("#js-buy-price-input").val(sell_price);
    	$("#js-sell-price-input").val(sell_price);
	});

	$(".js-sell-amount").on("click", function(){
    	var sell_amount = $(this).text();
    	$("#js-buy-amount-input").val(sell_amount);
	});

	//BALANCE Set price and amount so that price*amount=balance
	$(".js-balance").on("click", function(){
    	var balance = <%=@company.balance%>
    	$("#js-buy-amount-input").val(sell_amount);
	});

	$(".js-stock_amount").on("click", function(){
    	$("#js-sell-amount-input").val(<%=@stock_amount.to_i%>);
	});

	// Submit Orders Via Ajax
	$("#submit-buy-order").on("click", function(){
		$.ajax({
			type: 'POST',
			url: '/market-buy',
			dataType: 'script',
			// data: { 'item_id' : item_id, 'company_id' : company_id } 
		});
	});

	$("submit-sell-order").on("click", function(){
		$.ajax({
			type: 'POST',
			url: '/market-sell',
			dataType: 'script',
		});
	});

	//Auto-Refresh
	setTimeout(refresh, 3000)
	function refresh(){
		var item_id=$('#market_select').val()
	    var company_id=$("#company_select").val()
	    // Update the buy and Sell Requests.
	    $.ajax({
			type: 'GET',
			url: '/refresh-orders',
			dataType: 'script',
			data: { 'item_id' : item_id, 'company_id' : company_id}
			// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
		});
	}

	//Checks if buy amount and price are not too high for user
	// $('.js-buy-input').change(function() {
	// 	var amount = parseInt($(this).find("[name='amount']").val()
	// 	var price = parseInt($(this).find("[name='price']").val()
	// 	var balance = parseFloat($(this).find("[name='company_balance']").val()
	// 	var max_amount = balance*price
	// 	var max_price = balance*balance

	// 	$("[name='amount']").attr('id', 'inputError1');

	// 	$(this).find("[name='amount']").attr('max', max_amount);
	// 	$(this).find("[name='price']").attr('max', max_price);
	// });

	// $('.js-update-buy-value').click(function(){

	// });
<%end%>