<%= stylesheet_link_tag 'bootstrap-sortable' %>

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>


<form action="/update-buy-sell-orders" method="post" id="js-update-arrays">

</form>


<h3>The Global Market</h3>

<div class="row">
<form id="js-enter-market">

	<div class="col-md-6 col-xm-12">
	<div class="form-group">
		<label>Select a Market</label>
    <select class="form-control js-select" id="market_select">
     <option value="" disabled selected>Chose a Market</option>
    	<%Item.all.each do |item|%>
    	<option value="<%=item.id%>"><%=item.name.capitalize%></option>
    	<%end%>
    </select>
	</div>
	</div>

	<div class="col-md-6 col-xm-12">
	<div class="form-group">
		<label>Enter Market with:</label>
    <select class="form-control js-select" id="company_select">
    	<option value="" disabled selected>Chose a Company</option>
    	<%Company.where(user_id: current_user.id, main: true).each do |company|%>
			<!-- Display main company sector -->
			<%if company.sector == 1%>
		    	<option value="<%=company.id%>"><%=company.name%> - Mining Sector</option>
		    <%elsif company.sector == 2%>
		    	<option value="<%=company.id%>"><%=company.name%> - Industrial Sector</option>
		    <%elsif company.sector == 3%>
		    	<option value="<%=company.id%>"><%=company.name%> - Service Sector</option>
		    <%end%>
			

			<!-- Display sector of sectors the company has other than main -->
	    	<%Company_sector.where(owner_company_id: company.id).each do |sector|%>
		    	<%if Company.find(sector.company_id).sector == 1%>
		    	<option value="<%=sector.company_id%>"><%=company.name%> - Mining Sector</option>
		    	<%elsif Company.find(sector.company_id).sector == 2%>
		    	<option value="<%=sector.company_id%>"><%=company.name%> - Industrial Sector</option>
		    	<%elsif Company.find(sector.company_id).sector == 3%>
		    	<option value="<%=sector.company_id%>"><%=company.name%> - Service Sector</option>
		    	<%end%>
	    	<%end%>
    	<%end%>
    </select>
	</div>
	</div>
</form>
</div>

<div id="js-hide-when-market-open">
	
</div>

<div id="js-market">

	<!-- Renders buy and sell order table + request creation on AJAX request-->

</div>

My Open Orders: Oder Amount Name Price ...


<%= javascript_include_tag('market-index.js') %>

<%= javascript_tag do %>
$( document ).ready(function(){
	$('#notificationbar').html("<h3>MARKETS</h3>"+
     <%Item.all.each do |item|%>
      "<div class='desc'>" +
      "<a href='#<%=item.name%>' style='text-decoration: none;" +
      "<div class='details' style='height: 10px !important;'>" +
        "<p>" +
         "<b><%=item.name.upcase%> - <%=item.price%>$ - Volume - Change</b><br/>" +
       "</p>" +
     "</div>" +
     "</a>" +
   "</div>"<%end%>);
});
<%end%>