<!-- If user does not have a headquaters -->
<%if Building.find_by(company_id: @company.id, name: "headquarters")==nil%>
	<b>You must build a headquaters before you can upgrade anything.</b>
<%else%>


<!-- Initialize Upgrades if not yet initialized -->
<%if Upgrade_level.find_by(company_id: @company.id)==nil%>

<%@upgrades=Upgrade.where(category: 0, level: 1)%>
<%if @company.sector==1
	if @company.specialize==100
		@upgrades.push(*Upgrade.where(category: 100, level: 1))
	elsif @company.specialize==101
		@upgrades.push(*Upgrade.where(category: 101, level: 1))
	elsif @company.specialize==102
		@upgrades.push(*Upgrade.where(category: 102, level: 1))
	end
elsif @company.sector==2
	if @company.specialize==200
		@upgrades.push(*Upgrade.where(category: 200, level: 1))
	elsif @company.specialize==201
		@upgrades.push(*Upgrade.where(category: 201, level: 1))
	elsif @company.specialize==202
		@upgrades.push(*Upgrade.where(category: 202, level: 1))
	end
elsif @company.sector==3
	if @company.specialize==300
		@upgrades.push(*Upgrade.where(category: 300, level: 1))
	elsif @company.specialize==301
		@upgrades.push(*Upgrade.where(category: 301, level: 1))
	elsif @company.specialize==302
		@upgrades.push(*Upgrade.where(category: 302, level: 1))
	end
end%>

<%@upgrades.each do |upgrade|
	Upgrade_level.create(company_id: @company.id, upgrade_value: upgrade.value, level: 0)
end%>

<%end%>

<!-- End of initialization -->

<!-- Normal Upgrades --> <!-- Ex: Pay to increase worker productivity-->
<%Upgrade_level.where(company_id: @company.id).each do |upgrade|%>
 <%@upgrade=Upgrade.find_by(value: upgrade.upgrade_value, level: upgrade.level)%>
 <!-- If upgrade is not in progress -->
 <%if Time.at(upgrade.updated_at)+@upgrade.time < Time.now%>
	<%@next_upgrade=Upgrade.find_by(value: upgrade.upgrade_value, level: upgrade.level+1)%>
		<%if @next_upgrade!=nil%>
		<div class="row mtbox">

	    <div class="col-md-2 col-sm-2 box0">
	        <div class="box1 cd-popup-trigger js-upgrade">
	          <i class="fa fa-calendar-o fa-4x"></i>
	          <h3 class="js-upgrade"><%=@next_upgrade.name.capitalize%> Lv.<%=@next_upgrade.level%></h3>
	          <input class="js-upgrade-value" type="hidden" value="<%=@next_upgrade.value%>">
	          <input class="js-upgrade-name" type="hidden" value="<%=@next_upgrade.name%>">
	          <input class="js-upgrade-level" type="hidden" value="<%=@next_upgrade.level%>">
	          <input class="js-upgrade-company-id" type="hidden" value="<%=@company.id%>">
	        </div>
	        	<%t=@next_upgrade.time
						mm, ss = t.divmod(60)            #=> [4515, 21]
						hh, mm = mm.divmod(60)           #=> [75, 15]
						dd, hh = hh.divmod(24)           #=> [3, 3]%>
	          <p><%="Upgrade takes %dd %dh %dm %ds" % [dd, hh, mm, ss]%><br>
	          <!-- Last upgraded <%= time_ago_in_words(upgrade.updated_at) %> ago -->
	          Click to Start Upgrade</p>
	    </div>      
	            
	</div><!-- /row mt --> 
		<%end%>

	<%else%> <!-- if upgrade is in progress -->
		<%@time_left=(Time.at(upgrade.updated_at)+@upgrade.time)-Time.now%>
		<input class="js-upgrade-time-left" type="hidden" value="<%=@time_left%>">
		<input class="js-upgrade-time" type="hidden" value="<%=@upgrade.time%>">
		<div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    The <%=@upgrade.name.capitalize%> upgrade <span class="center" id="timeleft"></span> <a href="#">Cancel Upgrade?</a>

 <%end%>
<%end%>

<!-- Building Upgrade -->
<%Building.where(company_id: @company.id).each do |building|%>
<div class="row mtbox">

	    <div class="col-md-2 col-sm-2 box0">
	        <div class="box1 cd-popup-trigger js-upgrade">
	          <i class="fa fa-calendar-o fa-4x"></i>
	          <h4 class="js-upgrade">Upgrade <%=building.name.capitalize%> <br>to Level <%=building.level+1%></h4>
	        </div>
	        	<%t=Upgrade.find_by(name: building.name).time
						mm, ss = t.divmod(60)            #=> [4515, 21]
						hh, mm = mm.divmod(60)           #=> [75, 15]
						dd, hh = hh.divmod(24)           #=> [3, 3]%>
	          <p><%="Upgrade takes %dd %dh %dm %ds" % [dd, hh, mm, ss]%><br>
	          Click to Start Upgrade</p>
	    </div>      
	            
	</div><!-- /row mt -->
<%end%>


    <%= javascript_include_tag('upgrade.js') %>



<%end%>