<input type="hidden" value="<%=@company.id%>" name="company_id">

<div class="form-group">
  <label><h4>Select Company to Manage</h4></label>
  <select class="form-control js-select" id="company_select">
    <%Company.where(user_id: current_user.id).each do |company|%>
      <%if @company==company%>
        <option value="" disabled selected><%=company.name%></option>
      <%else%>
        <option value="<%=company.id%>"><%=company.name%></option>
      <%end%>
    <%end%>
  </select>
</div>

<%if Building.find_by(company_id: @company.id, name: "headquarters")==nil%>
<h4>You must build your headquarters in order to start working.</h4>
<button>Build Headquarters for $<%=%></button>
<%else%>

<%= stylesheet_link_tag 'spinning_boxes' %>
<%= javascript_include_tag('spinning_boxes.js') %>

<%= stylesheet_link_tag 'popup' %>
<%= stylesheet_link_tag 'bootstrap-sortable' %>
<%= stylesheet_link_tag 'bootstrap-select.min' %>
<%= stylesheet_link_tag 'main_tab' %>

<%= javascript_include_tag('jquery-ui.js') %>
<%= javascript_include_tag('bootstrap-sortable.js') %>
<%= javascript_include_tag('bootstrap-select.min.js') %>
<%= javascript_include_tag('employees.js') %>
<%= javascript_include_tag('main_tab.js') %>

<div class="full">
  <section id="banner" class="topbanner">
    <div id="boxes">

      <div class="big-box">
        <div>
          <div class="content beaches-visible" style="background: #2E3341;">
            <div style="margin: 8px; color: white;">
            <span>Bora Bora</span>
            <img src="http://www.savorypixel.com/678799/beaches/bora-bora.jpg" />
            </div>
          </div>
          <div class="content forests-visible" style="background: #2E3341;">
            <div style="margin: 8px; color: white;">
              <%=render 'build'%>
            </div>
          </div>
          <div class="content lakes-visible" style="background: #2E3341;">
            <div style="margin: 8px; color: white;">
            <span>Lake Lucerne</span>
            <img src="http://www.savorypixel.com/678799/lakes/lake-lucerne.jpg" />
            </div>
          </div>
          <div class="content mountains-visible" style="background: #2E3341;">
            <div style="margin: 8px; color: white;">
              <%=render 'employees'%>
            </div>
          </div>
          <div class="content original" style="background: #2E3341;">
            <div style="margin: 8px; color: white;">
              <h3 class="center"><b>QUICK ACCESS PANEL</b></h3>
              <hr>
              <h4>
              Alert: <br>
              Message: <br>
              <b>Balance:</b> $<%=@company.balance%> <br>
              <b>Production:</b> ?? <%=@company.specialize_name.capitalize%>/day <br>
              <b>Share Price:</b> ?? /\ or \/<br>
              <b>Request Loan</b> <br>
              Stock: stock where company.id Buy & Sell, Click to access market
              Buy and Sell Stock <br>
              <b>Buildings:</b><br> 
              <%Building.where(company_id: @company.id).order(:name).each do |building|
                  if defined?(@previous_name)==nil
                    @amount=1
                  elsif @previous_name==building.name
                    @amount+=1
                  else%>
                    <%=@amount%> <%=@previous_name%> Image <br>
                    <%@amount=1
                  end
                  @previous_name=building.name
                end%>
                    <!-- Shows the last buildings -->
                  <%=@amount%> <%=@previous_name%> Image <br>
              <%if @company.specialize<300%>
              <b>Estimated Daily Production</b>: <%=@company.production%> <i>(Updated Every Hour)</i>
              <%end%>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="small-box mountains" rel="mountains">
        <div>
         <div class="content lakes-visible" style="background: #EE451A;">
            <span>Derwentwater</span>
          </div>
          <div class="content forests-visible" style="background: #EE451A;">
            <span>Black Forest</span>
          </div>
          <div class="content beaches-visible" style="background: #EE451A;">
            <span>The Maldives</span>
          </div>
          <div class="content mountains-visible original" style="background: #EE451A;">
            <span>Employees</span>
          </div>
        </div>
      </div>

      <div class="small-box lakes" rel="lakes">
        <div>
          <div class="content mountains-visible" style="background: #019EEB;">
            <span>Lhotse</span>
          </div>
          <div class="content forests-visible" style="background: #019EEB;">
            <span>Sagano Bamboo Forest</span>
          </div>
          <div class="content beaches-visible" style="background: #019EEB;">
            <span>Lanikai Beach</span>
          </div>
          <div class="content lakes-visible original" style="background: #019EEB;">
            <span>Finance</span>
          </div>
        </div>
      </div>

      <div class="small-box forests" rel="forests">
        <div>
          <div class="content mountains-visible" style="background: #109D69;">
            <span>Find Employees</span>
          </div>
          <div class="content lakes-visible" style="background: #109D69;">
            <span>Lake Tahoe</span>
          </div>
          <div class="content beaches-visible" style="background: #109D69;">
            <span>Hampton Beach</span>
          </div>
          <div class="content forests-visible original">
            <span>Construction</span>
          </div>
        </div>
      </div>

      <div class="small-box beaches" rel="beaches">
        <div>
          <div class="content mountains-visible" style="background: #FFB200">
            <span>Mount Everest</span>
          </div>
          <div class="content lakes-visible" style="background: #FFB200">
            <span>Maligne Lake</span>
          </div>
          <div class="content forests-visible" style="background: #FFB200">
            <span>Sequoia National Forest</span>
          </div>
          <div class="content beaches-visible original" style="background: #FFB200">
            <span>Other</span>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<%end%>

<!-- Get the needed js -->
<%= javascript_include_tag('company_index.js') %>

<%= javascript_tag do %>
  $(document).ready(function(){
    
    $('#company_select').on('change', function() {
      document.cookie="company="+this.value;
      location.reload();
    });

    //Always have this part at the end
    $('.build').html("<%= j render 'build' %>");
    $('.employees').html("<%= j render 'employees' %>");
    $('.upgrade').html("<%= j render 'upgrade' %>");
    $('.build').html("<%= j render 'profit_and_loss' %>");

  });
<% end %>