<%= stylesheet_link_tag 'popup' %>

<h3>Companies where you are the CEO:</h3>
<% @companies.each do |company| %>
<% @shares = Share.where(company_id: company.id) %>
  <h2 style="margin-bottom: -25px;">
  <%if company.sector==1%>
  <i class="fa fa-tree"></i>
  <%elsif company.sector==2%>
  <i class="fa fa-industry"></i>
  <%elsif company.sector==3%>
  <i class="fa fa-truck"></i>
  <%end%>
  <b><%=company.name%></b></h2><br>
  <hr>
  
  <h3>Balance: <b>$<%=company.balance%></b></h3><br>

Should these be hover dropdowns or click dropdowns?

<!-- ----------------------------------------------
  UPGRADE PANEL
 ---------------------------------------------- -->  
 <div class="panel panel-primary">
  <div class="panel-heading show_hide_upgrades">
    <h3 class="panel-title">
      <i class="fa fa-arrow-up"></i>
      Upgrade
      <span style="float: right;"><i class="fa fa-angle-down"></i></span></h3>
  </div>
  <div class="panel-body upgrades_panel">
    - Stuff
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    Upgrade Name will be done in <span class="center" id="timeleft"></span>
  </div>
</div>




<!-- ----------------------------------------------
  EMPLOYES PANEL
 ---------------------------------------------- -->  
 <div class="panel panel-primary">
  <div class="panel-heading show_hide_employes">
    <h3 class="panel-title">
      <i class="fa fa-users"></i>
      Employees <span class="badge">2</span>
      <span style="float: right;"><i class="fa fa-angle-down"></i></span></h3>
  </div>
  <div class="panel-body employes_panel">
    - One employee wants a raise <br>
  </div>
    
  <!-- Employement Request -->
<%if Employe.where(company_id: company.id, request: true).count!=0%>
  <div class="panel panel-default employes_panel" style="margin-top: -3px; margin-bottom: -3px;">
  <div class="panel-heading show_hide_employement_request">
    <h3 class="panel-title">Employement Request <span class="badge"><%=Employe.where(company_id: company.id, request: true).count%></span>
    <span style="float: right;"><i class="fa fa-angle-down"></i></span></h3>
  </div>
    <table class="table table-bordered table-hover employement_request_panel">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="center">Name <i class="fa fa-angle-double-down"></i></th>
          <th class="center">IQ <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Efficiency <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Focus <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Happiness <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Quality <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Salery <i class="fa fa-angle-double-down"></i></th>
        </tr>
      </thead>

      <tbody>
      <%Employe.where(company_id: company.id, request: true).each do |employe|%>
        <tr>
          <td class="center cd-popup-trigger" id="popup1"><i style="color: green;" class="fa fa-check"></i></td>
          <td class="center cd-popup-trigger" id="popup2"><i style="color: red;" class="fa fa-close"></i></td>
          <td class="center"><%=employe.name%></td>
          <td class="center"><%=employe.iq%></td>
          <td class="center"><%=employe.efficiency%></td>
          <td class="center"><%=employe.focus%></td>
          <td class="center"><%=employe.happiness%></td>
          <td class="center"><%=employe.quality.capitalize%></td>
          <td class="center"><%=employe.salery%></td>
        </tr>
      <%end%>
      </tbody>
    </table> 

    </div>
<%end%>

<!-- Employes List -->
<%if Employe.where(company_id: company.id, request: false).count!=0%>
<div class="panel panel-default employes_panel" style="margin-top: -3px; margin-bottom: -3px;">
  <div class="panel-heading show_hide_employes_list">
    <h3 class="panel-title">
      List of Employees
      <span style="float: right;"><i class="fa fa-angle-down"></i></span>
    </h3>
  </div>
      <table class="table table-bordered table-hover employes_list_panel">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="center">Name <i class="fa fa-angle-double-down"></i></th>
          <th class="center">IQ <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Efficiency <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Focus <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Happiness <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Quality <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Salery <i class="fa fa-angle-double-down"></i></th>
        </tr>
      </thead>

      <tbody>
      <%Employe.where(company_id: company.id, request: false).each do |employe|%>
        <tr>
          <td class="center cd-popup-trigger" id="popup3"><i style="color: red;" class="fa fa-close"></i></td>
          <td class="center cd-popup-trigger" id="popup4"><i style="color: green;" class="fa fa-arrow-up"></i></td>
          <td class="center"><%=employe.name%></td>
          <td class="center"><%=employe.iq%></td>
          <td class="center"><%=employe.efficiency%></td>
          <td class="center"><%=employe.focus%></td>
          <td class="center"><%=employe.happiness%></td>
          <td class="center"><%=employe.quality.capitalize%></td>
          <td class="center"><%=employe.salery%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
<%end%>
  <!-- <div class="panel-footer">Panel footer</div> -->
</div>



<%if company.market%>
<!-- ----------------------------------------------
 STOCKS PANEL 
 ---------------------------------------------- -->
<div class="panel panel-primary">
  <div class="panel-heading show_hide_stocks">
    <h3 class="panel-title">
      <i class="fa fa-line-chart"></i>
      Shares <span style="float: right;">
      <i class="fa fa-angle-down"></i></span>
    </h3>
  </div>
  <div class="panel-body stock_panel">
    You own ##% of all the shares <br>
  </div>

    <table class="table table-bordered table-hover stock_panel">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="center">Name <i class="fa fa-angle-double-down"></i></th>
          <th class="center">IQ <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Efficiency <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Focus <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Happiness <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Quality <i class="fa fa-angle-double-down"></i></th>
          <th class="center">Salery <i class="fa fa-angle-double-down"></i></th>
        </tr>
      </thead>

      <tbody>
      <%@shares.each do |share|%>
        <tr>
          <td class="center"><i style="color: red;" class="fa fa-close"></i></td>
          <td><div class="center"><i style="color: green;" class="fa fa-arrow-up"></i></div></td>
          <td class="center"><%=employe.name%></td>
          <td class="center"><%=employe.iq%></td>
          <td class="center"><%=employe.efficiency%></td>
          <td class="center"><%=employe.focus%></td>
          <td class="center"><%=employe.happiness%></td>
          <td class="center"><%=employe.quality.capitalize%></td>
          <td class="center"><%=employe.salery%></td>
        </tr>
      <%end%>
      </tbody>
    </table>

  <!-- <div class="panel-footer">Panel footer</div> -->
</div>
<%end%>



<!-- ----------------------------------------------
  PROFIT AND LOSS PANEL
 ---------------------------------------------- -->  
 <div class="panel panel-primary">
  <div class="panel-heading show_hide_profit_and_loss">
    <h3 class="panel-title">
      <i class="fa fa-list"></i>
      Profit & Loss
      <span style="float: right;"><i class="fa fa-angle-down"></i></span></h3>
  </div>
  <div class="panel-body profit_and_loss_panel">
    - Stuff
  </div>
  <div class="row profit_and_loss_panel">
<div class="col-sm-6">
<!-- Income Table -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="success">Income</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Investment<span style="float: right;">$<%=@investment_income%></span></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-sm-6">
<!-- Expenses Table -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="danger">Expenses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Investment<span style="float: right;">$<%=@investment_expenses%></span></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>



<!-- Bottom Links -->

  <br>
  <%= link_to 'Show', company %> |
  <%= link_to 'Edit', edit_company_path(company) %> |
  List your Company on the Stock Market
  <hr>
<% end %>

<br>

<h3>Companies where you are in the board of directors:</h3>

<h3>Companies where you own stocks:</h3>

<%if @companies.count < 1 #|| user if a premium user%>
<%= link_to 'Create a New Company', new_company_path %>
<%end%>



<!-- POPUPS -->
<div class="cd-popup" role="alert">
  <div class="cd-popup-container">
    
    <a class="cd-popup-close popup-close img-replace">Close</a>
  </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->


<!-- Get the needed js -->
<%= javascript_include_tag('company_index.js') %>
<%= javascript_include_tag('moment.min.js') %>