<!-- If compnay does not have a headquaters ask to build one -->
<%if Building.find_by(company_id: @company.id, name: "headquarters")==nil%>
You must have a headquarters in order to 
<%else%>

<%= stylesheet_link_tag 'popup' %>
<%= stylesheet_link_tag 'bootstrap-sortable' %>
<%= stylesheet_link_tag 'bootstrap-select.min' %>
<%= stylesheet_link_tag 'main_tab' %>

<%= javascript_include_tag('jquery-ui.js') %>
<%= javascript_include_tag('bootstrap-sortable.js') %>
<%= javascript_include_tag('bootstrap-select.min.js') %>
<%= javascript_include_tag('employees.js') %>
<%= javascript_include_tag('main_tab.js') %>

<%#if building.find_by(@company.id)==nil%>
  YOU MUST BUILD A HEADQUARTERS BEFORE YOU CAN DO ANYTHING ELSE.
<%#end%>

<input type="hidden" value="<%=@company.id%>" name="company_id">

  <div class="form-group">
    <label><h4>Select Company to Manage</h4></label>
    <select class="form-control js-select" id="company_select">
      <%Company.where(user_id: current_user.id).each do |company|%>
        <%if @company==company%>
          <option value="" disabled selected><%=company.name%></option>
        <%else%>
          <option value="<%=company.id%>"><%=company.name%></option>
        <%end%>
      <%end%>
    </select>
  </div>

<h4>QUICK ACCESS PANEL</h4>
Alert: <br>
Message: <br>
<b>Balance:</b> $<%=@company.balance%> <br>
<b>Production:</b> ?? <%=@company.specialize_name.capitalize%>/day <br>
<b>Share Price:</b> ?? /\ or \/<br>
<b>Request Loan</b> <br>
Stock: stock where company.id Buy & Sell, Click to access market
Buy and Sell Stock <br>
<b>Buildings:</b><br> 
<%Building.where(company_id: @company.id).order(:name).each do |building|
    if defined?(@previous_name)==nil
      @amount=1
    elsif @previous_name==building.name
      @amount+=1
    else%>
      <%=@amount%> <%=@previous_name%> Image <br>
      <%@amount=1
    end
    @previous_name=building.name
  end%>
      <!-- Shows the last buildings -->
    <%=@amount%> <%=@previous_name%> Image <br>
<%if @company.specialize<300%>
<b>Estimated Daily Production</b>: <%=@company.production%> <i>(Updated Every Hour)</i>
<%end%>


<div class="tab">

  <ul class="tabs">
    <li class="js-dropdown"><a href="#"><b>Build</b></a></li>
    <%if Building.find_by(company_id: @company.id, name: "headquarters")!=nil%>
    <li class="js-dropdown"><a href="#"><b>Upgrade</b></a></li>
    <%end%>
    <li class="js-dropdown"><a href="#"><b>Employees</b>
      <%if Employe.where(company_id: @company.id, request: true).count!=0%>
        <span class="badge"><%=Employe.where(company_id: @company.id, request: true).count%> Pending Requests</span>
      <%end%></a>
    </li>
    <%if Transaction.where(company_id: @company.id).count>0%>
    <li class="js-dropdown"><a href="#"><b>Profit and Loss</b></a></li>
    <%end%>
    <li><a href="#">Tab05</a></li>
  </ul> <!-- / tabs -->

  <div class="tab_content">
    <div class="tabs_item build">
    </div> <!-- / tabs_item -->
    <div class="tabs_item upgrade">
    </div> <!-- / tabs_item -->
    <div class="tabs_item employees">
    </div> <!-- / tabs_item -->
    <div class="tabs_item profitandloss">
    </div> <!-- / tabs_item -->
    <div class="tabs_item profitandloss">
    </div> <!-- / tabs_item -->
  </div> <!-- /tab_content -->
    
</div> <!-- / tab -->






<!-- Get the needed js -->
<%= javascript_include_tag('company_index.js') %>

<%= javascript_tag do %>
  $(document).ready(function(){
    
    $('#company_select').on('change', function() {
      document.cookie="company="+this.value;
      location.reload();
    });

    //Always have this part at the end
    $('.build').html("<%= j render 'build' %>");
    $('.employees').html("<%= j render 'employees' %>");
    $('.upgrade').html("<%= j render 'upgrade' %>");
    $('.build').html("<%= j render 'profit_and_loss' %>");

  });
<% end %>

<%end%>