<!DOCTYPE html>
<html>
<head>
  <title>Pandora - <%=@page_name%></title>
  <!-- Include needed.css files for use -->
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'utilities/bootstrap.min'%>
  <%= stylesheet_link_tag 'elements/navbar' %>
  <%= stylesheet_link_tag 'helpers' %>
  <%= stylesheet_link_tag 'home' %>
  <!-- Include all existing js files for use -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %>
</head>
<body>

<!-- Render the navbar -->
<%= render partial: "elements/navbar" %>
<!-- Render the sidebar -->
<%= render partial: "elements/sidebar" %>
  <!-- Moves main content to the side to leave place for sidebar -->
  <div class=""></div>
  <!-- MAIN CONTENT Start -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-md-9 col-sm-8 main-chart">
            <!-- Renderes the popup notifications -->
            <% if flash[:notice]%>
              <div class="Message" id="js-timer">
                <div class="Message-icon">
                  <i class="fa fa-bell-o"></i>
                </div>
                <div class="Message-body">
                  <p><%= flash[:notice] %></p>
                </div>
                <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
              </div>
            <% end %> <br>
              <!-- Renders everything in the page file -->
              <div class="main-move-up" id="yield-content">
                <%= yield %>
              </div>
          </div><!-- /col-lg-9 END SECTION MIDDLE -->

          <div class="col-md-3 col-sm-4 ds force-hidden-xm" id="notificationbar">
            <%= render partial: "elements/notificationbar" %>
          </div><!--/col-lg-3 ds -->
        </section>
      </section>
      <!--main content end-->
      </section>


<!-- js placed at the end of the document so the pages load faster -->
<%= javascript_include_tag('main.js') %>
<%= javascript_include_tag('jquery.countTo.js') %>

</body>
</html>
