<!DOCTYPE html>
<html>
<head>
  <title>Pandora - <%=@page_name%></title>
  <!-- Include needed.css files for use -->
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'utilities/bootstrap.min'%>
  <%= stylesheet_link_tag 'utilities/font-awesome.min' %>
  <%= stylesheet_link_tag 'elements/navbar' %>
  <%= stylesheet_link_tag 'helpers' %>
  <%= stylesheet_link_tag 'home' %>
  <!-- Include all existing js files for use -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %>
</head>
<body>

<!-- Render the navbar -->
<%= render partial: "elements/navbar" %>
<!-- Render the sidebar -->
<%= render partial: "elements/sidebar" %>
  <!-- Moves main content to the side to leave place for sidebar -->
  <div class=""></div>
  <!-- MAIN CONTENT Start -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-9 main-chart">
            <!-- Renderes the popup notifications -->
            <% if flash[:notice]%>
              <div class="alert alert-successful alert-dismissible" role="alert" style="position: relative; top: -50px;">
                <%= flash[:notice] %>
              </div>
            <% end %> <br>
              <!-- Renders everything in the page file -->
              <div class="main-move-up">
                <%= yield %>
              </div>
          </div><!-- /col-lg-9 END SECTION MIDDLE -->

          <div class="col-lg-3 ds">
            <%= render partial: "elements/notificationbar" %>
          </div><!--/col-lg-3 ds -->
        </section>
      </section>
      <!--main content end-->
      </section>

<!-- Renders the footer -->
<%= render partial: "elements/footer" %>


<!-- js placed at the end of the document so the pages load faster -->
<%= javascript_include_tag('dropdowns.js') %>

</body>
</html>
